**/build/
**/.dart_tool/
**/.gradle/
**/.idea/
**/.cxx/
**/*.iml
**/local.properties
**/.flutter-plugins*
**/GeneratedPluginRegistrant.java
**/key.properties
**/*.keystore
**/*.jks
**/*.p12
**/*.mobileprovision
**/.env
**/.env.*
private-signing/
release/
outputs/
work/*
!work/design-spec/
MANIFEST.json
